

/* Placeholder css */

.similerText .contact-form-block input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 11px!important;color: #575757;
  }
  .similerText .contact-form-block input::-moz-placeholder { /* Firefox 19+ */
	font-size: 12px!important;color: #575757;
  }
  .similerText .contact-form-block input:-ms-input-placeholder { /* IE 10+ */
	font-size: 12px!important;color: #575757;
  }
  .similerText .contact-form-block input:-moz-placeholder { /* Firefox 18- */
	font-size: 12px!important;color: #575757;
  }

  .similerText .contact-form-block select::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 11px!important;color: #575757;
  }
  .similerText .contact-form-block select::-moz-placeholder { /* Firefox 19+ */
	font-size: 12px!important;color: #575757;
  }
  .similerText .contact-form-block select:-ms-input-placeholder { /* IE 10+ */
	font-size: 12px!important;color: #575757;
  }
  .similerText .contact-form-block select:-moz-placeholder { /* Firefox 18- */
	font-size: 12px!important;color: #575757;
  }



  .facultiesBox h4 a:hover{color: #d5171c !important;}
  /* .facultiesBox .colorox a:hover{color: #d5171c !important;} */
  

  .register-form-block .select2-container--default .select2-selection--single .select2-selection__rendered {
	height: 100%;
	display: flex;
	align-items: center;
	color: #595454!important;
	font-size: 12px!important;
}

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 100%;
    display: flex;
    align-items: center;
    color: #c1b9b9!important;
    font-size: 12px!important;
}

.login-buttons-block > a:nth-last-child(1) {width: 100%;}
/* #mobile_error {top: 61%; position: absolute; left: 8rem; font-size: 10px;}
#first_name_error {top: 61%; position: absolute; left: 3rem; font-size: 10px;}
#last_name_error {top: 61%; position: absolute; left: 3rem; font-size: 10px;}
#email_error {top: 61%; position: absolute; left: 3rem; font-size: 10px;}
#qualification_error {top: 61%; position: absolute; left: 3rem; font-size: 10px;}
#course_error {top: 61%; position: absolute; left: 3rem; font-size: 10px;}
#stateId_error {top: 61%; position: absolute; left: 3rem; font-size: 10px;}
#cityId_error {top: 61%; position: absolute; left: 3rem; font-size: 10px;} */
#admission_register_checkbox_error{margin-bottom:20px;}
.uploadOuter #uploadFile_err{text-align: center!important;}

.contact-form-block .phoneImg img {
    position: absolute;
    top: 0rem;
    left: 6.5rem;
    z-index: 1;
    height: 6rem;
    width: 1.4rem;
}
.register-form-block .mobile-number-block input { padding-left: 9rem;}

.contact-form-block .vect.input-icon-block {
    /* position: absolute; */
    top: 3rem;
    left: 3rem;
    z-index: 1;
    height: 0rem;
    width: 1.4rem;
}
.aggrement#admission_register_checkbox_error{margin-left: 3rem;}
.bottomBtn.text-end { margin-top: 20px;   text-align: right!important;}
.register-form-block a{text-decoration: underline;}




.select2-container .select2-selection--single .select2-selection__rendered{padding-left: 15px;}
.text-sm .nav-pills .nav-link {margin-top: 30px;}
.tab-pane .card-cnt-block h4 a:hover{color: #d5171c!important;}
.tab-content .gap-top-md {
    margin-top: 7.3rem !important;
}
.tab-content .card-block.rounded .card-img-block img {height: 220px;}
.home-course-carousel.owl-carousel .owl-item img {height: 300px;}
.row.card-block-wrap .card-block.rounded .card-img-block img { height: 180px;}
/* ------------------------------------ */

.hedaer-serch-wrap.cms .expandright::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #fff;
  }
  .hedaer-serch-wrap.cms .expandright::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
  }
  .hedaer-serch-wrap.cms .expandright:-ms-input-placeholder { /* IE 10+ */
	color: #fff;
  }
  .hedaer-serch-wrap.cms .expandright:-moz-placeholder { /* Firefox 18- */
	color: #fff;
  }

/* ------------------------------------ */

/* Search Button css open */
/* .nav-link.active{color: #d5171c!important;} */
.col-md-8.footer-map .position-relative iframe{width: 100%!important;}
.commonList ul li{padding-left: 10px;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;}

.commonList ul li::marker {
    font-size: 18px;
    content: '\2713';
    display: inline-block;
    margin: 11px;
    color: #000;
    padding: 6px 6px 15px 8px;
}
.viewAllCourse .btn-v {padding: 1.3rem 4.1rem;}
.viewAllCourse .btn-v img {
    margin-left: 2.6rem;
    /* max-height: 35px; */
    width: 10px;
}

.hedaer-serch-wrap.cms .button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	/* background-color: white; */
	color: #fff;
}

.hedaer-serch-wrap.cms .search-container {
        width: 9.9rem;
    height: 6.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: var(--jsw-first-color);
    border-radius: 3.3rem;
    justify-content: center;
    cursor: pointer;
	position: relative;
	display: inline-block;
	/* margin: 4px 2px; */
	
	vertical-align: bottom;
    
}

.hedaer-serch-wrap.cms .mglass {margin-top: 5px;
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.hedaer-serch-wrap .searchbutton {
	position: absolute;
	text-align: center;
	font-size: 25px;
	width: 100%;
	/* margin-top: 5px; */
    cursor: pointer;
	padding: 0;
}
/* .hedaer-serch-wrap.cms .button:hover{ margin-top:5px;  } */
.hedaer-serch-wrap.cms .search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: #d5171c;
	color: #fff;
	width: 10rem;
	height: 6.2rem;
	border-radius: 30px;
}

.hedaer-serch-wrap.cms .search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.hedaer-serch-wrap.cms .search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.hedaer-serch-wrap.cms .expandright {
	left: auto;
	right: 70px; /* Button width-1px */
}

.hedaer-serch-wrap.cms .expandright:focus {
	padding: 0 0 0 16px;height: 40px;
	background: #16459e;
	color: #fff;
	border-radius: 30px;
}


/* Search Button css close */

.btnCms{margin-bottom: 4.5rem;}
.imgHeight_160 img{height: 160px;}
.home-course-carousel .owl-item{
    -moz-box-shadow: 0px 3px 6px #00000029;
    -webkit-box-shadow: 0px 3px 6px #00000029;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #70707034;
    border-radius: 4px;
    height: 100%;
    
}
.home-course-carousel .carsl-item-cnt-block{padding: 2rem 10px;}
.home-course-carousel .carsl-img-block{padding: 0px;background: #f6f6f6;}
.vm-wrap ul li {
    padding-left: 10px;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
.vm-wrap ul li::marker {font-size: 18px;
    content: '\2713';
    display: inline-block;
    margin: 11px;
    color: #000;
    padding: 6px 6px 15px 8px;
}

.commonUlLi ul li::marker {
	font-size: 14px;
	content: '\2713';
	display: inline-block;
	margin: 11px;
	color: #000;
	padding: 6px 6px 15px 8px;
}
.commonUlLi ul li{padding-left: 10px;line-height: 24px;}

/* .two-block-form-wrapp .tbf-steps ul li div{line-height: 20px;} */

@media only screen and (max-width: 700px) {
	.sub-page-banner h1 {font-size: 4.9rem;	}
	.nav-pills li.nav-item {margin-top: 10px;}
	.tab-scrollable-view-2.w-80 {width: 90% !important;	}
	.gallery-wrap .nav-pills li.nav-item {margin-top: -10px!important;}
	.home-banner.cover {height: 45vh!important;}
	.detail-sidebar-block > div {border: 1px solid #7070704D;}
	.logo-signup-block .hs-input-block {bottom: 7.6rem;
		right: 0rem;
		min-width: 62rem;
		justify-content: space-between;
		z-index: 1;
		display: none;
		height: 8rem;
		padding: 0 1rem 0 5rem;
	}

}

@media only screen and (min-width: 700px) and (max-width: 1000px)  {

    .gallery-wrap .line {bottom: 40px;}
	



}


/* -------------------------------------------- */

@media only screen and (min-width: 1501px) and (max-width: 1800px)  {
	.form-checkbox input:checked + label:after {top: .8rem!important;}
	.dragBox .modal-or-text{width: 70%!important;}

	.register-form-block .select2-container--default .select2-selection--single .select2-selection__rendered {
		height: 100%;
		display: flex;
		align-items: center;
		color: #595454!important;
		font-size: 15px!important;
	}
}
.form-checkbox input:checked + label:after {top: .8rem;}


@media only screen and (min-width: 1300px) and (max-width: 1800px)  {
	.modal-or-text::after {right: 35%!important;}
	.modal-or-text::before {left: 38%!important;}
}
@media only screen and (min-width: 1300px) {

	.dragBox .modal-or-text{width: 97%;}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 26px;
		position: absolute;
		top: 8px!important;
		right: 1px!important;
		width: 30px !important;
	}
	.paymentOption .sit.btn-v.red.xsm.rounded {
		border-radius: .5rem !important;
	}
	.rest td{text-align: center;}
	.brows #uploadFile_error{text-align: center !important;}
	.modal-dialog {
		max-width: 540px;
		margin: 1.75rem auto;
	}
	.modal-or-text::after {right: 38%!important;}
.modal-or-text::before {left: 38%;}
	.form-checkbox input:checked + label:after {
		content: '';
		display: block;
		position: absolute;
		top: 3.5px;
		left: 5.5px;
		width: 12.5px;
		height: 11.5px;
		background-color: var(--jsw-fourth-color);
	}
	.form-checkbox input:checked + label:after{top: 4.5px;}
	.form-checkbox label:before {padding: 10px;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-left: 20px!important;}
	.select2-container--default .select2-selection--single .select2-selection__arrow{top: 10px!important;}

}